@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  height: 100dvh;
  /* margin-top: 80px; */
  margin: 0;
  padding: 0;
 font-family: Ubuntu;
  background-color: #F9E9E9;
}

:root {
  --tamanho-header: 100px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
  --cor-escura: #82474A;
  --cor-media: #B8696C;
  --cor-clara: 
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: #F9E9E9;
  width: 100%;
  height: var(--tamanho-header);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  position: relative;
  text-decoration: none;
  color: #82474A;
  transition: all 0.3s;
}

.header a::after {
   content: "";
   width: 0%;
   height: 2px;
   background-color: var(--cor-escura);
   position: absolute;
   bottom: -2px;
   left: 50%;
   transition: 0.3s;
}

.header a:hover::after {
   width: 100%;
   left: 0%;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  list-style: none;
  color: #82474A;
}

.logo {
  width: fit-content;
  font-weight: 500;
  cursor: pointer;
}

.logo img {
  width: 200px;
  height: 130px;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  /* margin-top: 10px; */
  color: white;
  background-image: url('../assets/Background/composicao-de-padaria-plana-leigos-com-copyspace.jpg');
  background-size: cover;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: center;
  height: 100%;
}

.banner .container h1 {
  font-family: Signika;
  width: 40%;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.banner .container p {
  width: 40%;
  font-size: 16px;
}

.banner .container span {
  font-weight: bolder;
  color: #B8696C;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #F9E9E9;
  display: flex;
}

.social .container {
  justify-content: center;
  padding: 70px;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  gap: 30px;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
}

.box h4 {
  margin: 0;
  font-size: 24px;
  font-family: Signika;
  color: var(--cor-media);
}

.box p {
  font-size: 14px;
  color: var(--cor-escura);
}

/* FOOTER */

.footer {
  background-color: #B8696C;
  height: 75px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer-cadastro {
  background-color: #F9E9E9;
  height: 75px;
  color: var(--cor-escura);
  display: flex;
  font-size: 15px;
}

.footer-cadastro .container .version {
  font-size: 12px;
}

.footer-cadastro .container {
  justify-content: center;
  text-align: center;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.body-login{
  background-image: url(../assets/Background/bg-cadastro.jpg);
  background-size: cover;
}

.body-cadastro {
  background-image: url(../assets/Background/bg-cadastro.jpg);
  background-size: cover;
}

.login {
  height: 100dvh;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #F9E9E9 ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--cor-escura);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  font-family: Signika;
  margin: 0;
  font-size: 36px;
}

.formulario {
  font-family: Ubuntu;
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-family: Signika;
  font-size: 18px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid --cor-escura;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid --cor-escura;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;
  padding: 5px 0;
}

.campo input{
  height: 30px;
}

.botao {
  cursor: pointer;
  font-family: Signika;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: var(--cor-escura);
  width: 150px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
}

input {
  font-family: Ubuntu;
  margin-bottom: 10px;
  border: 2px solid var(--cor-media);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

input:focus{
  outline: none;
}

.btn {
  font-family: Signika;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: var(--cor-escura);
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

.registro {
  display: flex;
  height: 100dvh;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #f9e9e9;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.registro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}